#title{float: right; width: 100%; padding-top: 20px; padding-bottom: 20px;}
#foto{float: left; padding: 75px; width: 50%; height: 480px;}
#info{float: right; padding: 75px; width: 50%;}
#author{border-radius: 30px; margin-top: 50px; margin-left: 35px;}
