.jumbotron{background-color: #5DADE2;color: #fff;font-family: Montserrat, sans-serif;}
.container-fluid {padding: 60px 50px;}
.carousel-control-prev-icon, .carousel-control-next-icon{background-color: #f4511e;}
.carousel-item{text-align: center;}
