<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-with, initial-scale=1">
  <link href="./css/bootstrap.css" rel="stylesheet" media="screen">
  <title>Etiqueta A</title>
</head>

<body>
  <h1 style="background-color:#CB4335; color:#FBFCFC"><center style="font-family:Calibri">Etiqueta A</center></h1>
  <p style="font-family:Calibri">Esta etiqueta sirve para dar un hiperenlace, es decir, re digirigirnos hacia
      otra pagina, esto se hace a traves de agregarle la referencia a la pagina
      a traves de href y el URL o el nombre de archivo que queremos abrir.

      Tambien es importante que veamos que dentro de las etiquetas de apertura y cierre
      podemos colocar cualquier texto para la referencia a la pagina no sea visible.</p>

      <table style="font-family:Calibri">
        <tr>
          <td><strong>Propiedad</strong></td>
          <td><strong>Descripcion</strong></td>
        </tr>

        <tr>
          <td><strong>target</strong></td>
          <td>Este es un atributo de la etiqueta a, que busca una ventana o un frame que concida con el nombre que se le ha asignado.</td>
        </tr>

        <tr>
          <td><strong>hreflang</strong></td>
          <td>Este atributo puede llegar a definir el lenguaje del documento con el que se esta enlazando.</td>
        </tr>
      </table>
  <h3 style="font-family:Calibri;">Ejemplo</h3>
      <textarea readonly cols="60" rows="5">
        <a href="https://www.landrover.gt/">Mira nuestros modelos de vehiculos</a>
      </textarea>

  <h3 style="font-family:Calibri;">Resultado</h3>
    <a href="https://www.landrover.gt/">Mira nuestros modelos de vehiculos</a>

    <script src="./js/jquery-3.3.1.js"></script>
    <script src="./js/bootstrap.js"></script>

</body>
</html>
