<link rel="stylesheet" href="/html5_css3/css/foto.css">

<div id="title">
  <h3><center>Acerca del autor...</center></h3>
</div>

<div id="foto">
  <img src="/html5_css3/images/author.jpg" height="200" width="200" id="author"/>
</div>

<div id="info">
    <h6>Nombre completo:</h6>
    <p>Natán Benjamin Castaneda Hidalgo</p>

    <h6>País:</h6>
    <p>Guatemala</p>

    <h6>Edad:</h6>
    <p>18 años</p>

    <h6>Correo electrónico:</h6>
    <p>ncastanedahidalgo@gmail.com</p>

    <h6>Teléfono(s):</h6>
    <p>(502) 2471-6824 / (502) 5626-5178</p>
</div>
