<html>
<head>
  <title>Base Font</title>
</head>

<body>
  <h1 style="background-color:#CB4335; color:#FBFCFC"><center style="font-family:Calibri">Etiqueta basefont</center></h1>

  <p style="font-family:Calibri">La etiqueta basefont sirve para que no importando con que tipo de archivo estemos trabajando
    la fuente de nuestra pagina sea la misma.
  </p>

  <table style="font-family:Calibri">
    <tr>
      <td><strong>Propiedad<strong></td>
      <td><strong><center>Descripcion</center></strong></td>
    </tr>

    <tr>
      <td><strong>size</strong></td>
      <td>Esta propiedad setea el tamano de la letra en el documento.</td>
    </tr>

    <tr>
      <td><strong>color</strong></td>
      <td>Esta propiedad cambia el color de la letra.</td>
    </tr>

    <tr>
      <td><strong>face</font></td>
      <td>Esta propiedad edita el tipo de letra.</td>
    </tr>
  </table>

    <h3 style="font-family:Calibri;">Ejemplo</h3>
      <textarea readonly cols="60" rows="5">
        <body>
          <basefont size="2" color="green">
            <p>Este parrafo va a tener color verde y tamano de dos, asi como todo el documento.</p>
          </basefont>
        </body>
      </textarea>

    <h3 style="font-family:Calibri">En accion</h3>
    <font size="2" color="green">
      <p>Este parrafo va a tener color verde y tamano de dos, asi como todo el documento.</p>
    </font>
</body>
</html>
