<html>
<head>
  <title>Etiqueta blockquote</title>
</head>

<body>
  <font style="font-family:Calibri">
  <h1 style="background-color:#CB4335; color:#FDFEFE"><center>Etiqueta blockquote</center></h1>
  <p>Esta etiqueta es utilizada en el caso que queramos anadir una cita correctamente.
    Todo lo que esta dentro de esta etiqueta se toma como una cita.
  </p>

  <h3>Ejemplo</h3>
    <textarea readonly cols="60" rows="5">
      <blockquote>"
        Esta es el ejemplo de una cita textual".
      </blockquote>
      </textarea>

  <h3>Aplicacion</h3>

  <blockquote>"
    Esto es el ejemplo de una cita textual".
  </blockquote>

</font>
</body>
</html>
