<html>
<head>
  <title>Etiqueta body</title>
</head>

<body>
  <font style="font-family:Calibri">
  <h1><center style="background-color:#CB4335; color:#FDFEFE">Etiqueta body</center></h1>

  <p>La etiqueta body es necesaria en cada documento html porque sin esta es imposible agregar
      elementos dentro del formulario. Esta etiqueta hace referencia a todo el cuerpo del
      documento, sin ella, no podemos agregar elementos.</p>

  <table>
    <tr>
      <td><strong>Propiedad</strong></td>
      <td><strong>Descripcion</strong></td>
    </tr>

    <tr>
      <td><strong>Color</strong></td>
      <td>Esta propiedad hace que el color de le letra cambie para todo el documento.</td>
    </tr>

    <tr>
      <td><strong>Background color</strong></td>
      <td>Esta propiedad cambia el color de fondo de todo el documento.</td>
    </tr>

    <tr>
      <td><strong>Background</strong></td>
      <td>Esta propiedad nos permite colocar algun elemento de fondo en nuestro documento
          por ejemplo, se le puede anadir la direccion de una imagen.</td>
    </tr>
  </table>

    <h3>Ejemplo</h3>
    <textarea readonly cols="60" rows="5">
      <html>
        <body>
          <button>Esto es un boton</button>
        <body>
      </html>
    </textarea>

    <h3>Aplicacion</h3>
      <button>
        Esto es un boton
        en un documento
      </button>
</font>
</body>
</html>
