<link rel="stylesheet" type="text/css" media="screen" href="/html5_css3/css/frameworks.css">

<div class="jumbotron text-center">
  <h1>Pencil & Paper</h1>
  <p>Tranquilo, nosotros nos ocupamos.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
    <h3>Bulma</h3>
      <p style="text-align:justify">Este es un framework basado en CSS, totalmente responsivo. Bulma se enfoca al movil
          lo que hace que cada elemento este optimizado para acomodarse de forma vertical sin
          usar clases extra.</p>
      <p style="text-align:justify">La ventaja de este framework es que esta basado en FlexBox. Esto ayuda a objetener
          un diseno flexible con columnas del mismo tamano. Todo el diseno hecho a traves de
          Bulma tiene su base en clases.</p>
    </div>
    <div class="col-sm-4">
      <h3>Materialize</h3>
      <p style="text-align:justify">Este framework es capaz de realizar codigo mas consistente, y mejor. Permite a los
          disenadores crear aplicaciones
          con las guias de Material Design. Estas guias son propuestas de como deberia de ser la interfaz del usuario en
          los dispositivos android.</p>
      <p style="text-align:justify">Esta herramienta es mas nueva que las demas, mas ya ha ganado nombre. Las guias de Materialize
         ayudan en gran manera al usuario a guiarse con base en el diseno de las paginas.</p>
    </div>
    <div class="col-sm-4">
      <h3>Foundation</h3>
      <p style="text-align:justify">La ventaja de este framework se ajusta de forma dinamica. Este framework tiene la gran
          dicha de ser el precursor de diseno, este anade las estructuras necesarias mas normales maqueteando un sitio
          rapidamente.</p>
      <p>Es modular, lo que conlleva que sea una serie de hoja de estilos de CSS, estos conllevan consigo la implementacion
          de diferentes componentes de la caja de herramientas.</p>
    </div>
  </div>
</div>

<div class="container-fluid text-center">
  <h2>FACILIDADES</h2>
  <h4>De los frameworks</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <img src="/html5_css3/images/responsive.png" width="100" height="100">
      <h4>RESPONSIVE</h4>
      <p>Aplicaciones con todos los dispositivos</p>
    </div>
    <div class="col-sm-4">
      <img src="/html5_css3/images/target.png" width="100" height="100">
      <h4>COLORIDOS</h4>
      <p>Podemos mejorar el diseno del documento</p>
    </div>
    <div class="col-sm-4">
      <img src="/html5_css3/images/interaction.png" width="100" height="100">
      <h4>INTERACTIVOS</h4>
      <p>Permite mejor interaccion con el usuario</p>
    </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-4">
        <img src="/html5_css3/images/key.png" width="100" height="100">
        <h4>ACCESIBILIDAD</h4>
        <p>Permite que pueda ser accedido con cualquier dispositivo</p>
      </div>
      <div class="col-sm-4">
        <img src="/html5_css3/images/performance.png" width="100" height="100">
        <h4>VELOCIDAD</h4>
        <p>Permite el mejor acceso</p>
      </div>
      <div class="col-sm-4">
        <img src="/html5_css3/images/upgrade.png" width="100" height="100">
        <h4>MEJORA</h4>
        <p>Es una mejor en todo aspecto para los documentos web.</p>
      </div>
    </div>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h4>Utiliza los frameworks</h4>
        <br><h6>Cambiara todo.</h6>
      </div>
      <div class="carousel-item">
        <h4>Cada uno para cada necesidad.</h4>
        <br><h6>Responsive es lo de ahora...</h6>
      </div>
      <div class="carousel-item">
        <h4>Aprende a utilizarlos.</h4>
        <br><h6>Sera muy util</h6>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
      <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </a>
  </footer>
