<html>
<head>
  <title>Etiqueta button</title>
</head>

  <body>
    <font style="font-family:Calibri">
    <h1><center style="background-color:#CB4335; color:#FDFEFE">Etiqueta button</center></h1>

    <p>Esta etiqueta permite que se puedan agregar botones dentro de una pagina. Podemos agregar
      dentro de esta etiqueta varios atributos y texto para que este dentro del boton, tambien hay
      manera de cambiar el tamano del boton y demas configuraciones.
    </p>

    <p>
      Para que podamos utilizar esta etiqueta debemos de tener en cuenta que se utiliza la etiqueta
      de apertura y de cierre.
    </p>

    <table>
      <tr>
        <td><strong>Propiedad</strong></td>
        <td><strong>Descripcion</strong></td>
      </tr>

      <tr>
        <td><strong>br</strong></td>
        <td>Se le puede colocar a un boton un salto de linea, este afecta el tamano del boton.</td>
      </tr>

      <tr>
        <td><strong>font</strong></td>
        <td>Este atributo permite que podamos modificar la letra que esta dentro de un boton</td>
      </tr>

      <tr>
        <td><strong>img</strong></td>
        <td>Este atributo permite colocarle una imagen al boton, esto ayuda con el diseno
        de la pagina.</td>
      </tr>

      <tr>
        <td><strong>background color</strong></td>
        <td>Esta etiqueta permite que le podamos anadir un color al boton</td>
      </tr>
    </table>

    <h3>Codigo ejemplo</h3>
    <textarea cols="60" rows="5" readonly>
      <html>
        <body>
          <button style="background-color:#D6EAF8">
            Esto es un boton
            <img src="boton.png" width="25" height="25">
          </button>
        <body>
      </html>
    </textarea>

    <h3>En accion</h3>
    <button style="background-color:#D6EAF8">
      Esto es un boton
      <img src="img.png" width="25" height="25">
    </button>
    </font>
  </body>
</html>
