<html>
<head>
  <title>Etiqueta caption</title>
</head>

<body>
  <font style="font-family:Calibri">
    <h1 style="background-color:#CB4335; color:#FDFEFE"><center>Etiqueta caption</center></h1>
  </font>

  <p>La etiqueta caption agregar un titulo a las tablas del documento.
  </p>

  <h3>Codigo</h3>
  <textarea cols="60" rows="6" readonly>
    <table class="egt">
      <caption>Diámetro y distancia al Sol para los planetas interiores</caption>
      <tr>
        <td></td>
        <th>Mercurio</th>
        <th>Venus</th>
        <th>Tierra</th>
        <th>Marte</th>
      </tr>

      <tr>
        <th>Diámetro (km)</th>
        <td>4,878</td>
        <td>12,104</td>
        <td>12,756</td>
        <td>6,787</td>
      </tr>

      <tr>
        <th>Distancia al Sol (millones de km)</th>
        <td>57</td>
        <td>107</td>
        <td>150</td>
        <td>229</td>
      </tr>
      </table>
    </textarea>

    <h3>Resultado</h3>
    <table class="egt">
      <caption>Diámetro y distancia al Sol para los planetas interiores</caption>
      <tr>
        <td></td>
        <th>Mercurio</th>
        <th>Venus</th>
        <th>Tierra</th>
        <th>Marte</th>
      </tr>

      <tr>
        <th>Diámetro (km)</th>
        <td>4,878</td>
        <td>12,104</td>
        <td>12,756</td>
        <td>6,787</td>
      </tr>

      <tr>
        <th>Distancia al Sol (millones de km)</th>
        <td>57</td>
        <td>107</td>
        <td>150</td>
        <td>229</td>
      </tr>
      </table>
    </textarea>
</body>
</html>
