<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Secular+One" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/html5_css3/bt/css/bootstrap.css" rel="stylesheet" media="screen">
  <title>
    HTML5 y CSS3
  </title>
</head>

<body background="\html5_css3\images\prueba.jpg">
  <link rel="stylesheet" type="text/css" media="screen" href="/html5_css3/css/estilo.css">
  <div id="menu"></div>

      <div class="jumbotron text-center" id="sforzo">
        <h1 id="chulo">A seguir creando, no hay problema.</h1>
        <hr class="my-4 style1">
        <h4 id="mejor">HAZ LAS COSAS MEJOR, PUEDES DAR MAS.</h4>
      </div>

      <div class="jumbotron text-center" id="principal">
                <p style="font-size:22">
                  CSS es una herramienta utilizada por muchos programadores y gente que se dedica al
                  oficio del diseno en paginas web. Esto es utilizado para mejorar todas aquellas
                  visualmente todas las carencias que puedan tener algunos objetos en HTML.
                </p>

                <p style="font-size:22">
                  Hasta el momento han salido tres versiones de CSS la tercera pretende brindar soluciones
                  a las carencias que se presentaban en modelos anteriores. Las mejoras mas notables pueden
                  empezar desde brindar mejor comptabilidad con los navegadores web.
                </p>
      </div>

      <div class="container-fluid text-center otro">
        <h1 style="color:#E67E22">Degradados y Animaciones</h1>
        <div class="container-fluid">
          <div class="row">
              <div class="col-sm"><img src="\html5_css3\images\android.png" id="colocar" width="100" height="100"></div>
              <div class="col-sm"><img src="\html5_css3\images\android.png" id="estilo" width="100" height="100"></div>
              <div class="col-sm"><img src="\html5_css3\images\android.png" id="b" width="100" height="100"></div>
              <div class="col-sm"><img src="\html5_css3\images\android.png" id="c" width="100" height="100"></div>
          </div>
        </div>
            <p style="text-align:left; font-size:20;">Estos efectos que se lograron en estas imagenes, se llevaron a cabo con la combinacion
                de ciertas propiedades de CSS3 que nos permiten ver paso a paso los cambios que se realizan
                sobre un objeto.</p>

            <p style="text-align:left; font-size:20">El selector llamado hover, se utiliza para cuando el mouse es puesto encima de un elemento y
                al hacer esto, se empiezan a desencadenar las acciones predeterminadas por este selector.
                En este caso, se usaron las propiedades de transition con un tiempo, asi como tambien transform
                con un border radius y demas propiedades para los bordes.</p>
        </div>

        <div class="container-fluid acabar">
            <h1 style="color:#E67E22"><center>Rotaciones y Efectos</center></h1>

            <p style="text-align:left; font-size:20">Aqui se utilizaron etiquetas tipo span, y fueron manipuladas por las intrucciones
              de CSS. De igual forma que hace un rato, para hacer esto se utilizo una transicion determinada con un
              tiempo determinado.</p>

            <p style="text-align:left; font-size:20">Para esto tambien se utiilzan unos keyframes estos nos utilizan para poder pasar la transicion
              o dividirla en momentos, en esos momentos es que toma una breve pausa y luego realiza las demas
              funciones predeterminadas, a cada uno de estos segmentos de tiempo se les anade una rotacion
              a las imagen, para que de la impresion de que esta rodando.</p>
        </div>

      <div class="container-fluid text-center dif">
        <span class="border border-white" id="circulo"></span>
        <span class="border border-white" id="cuadrado"></span>
        <span class="border border-white" id="hoja"></span>
        <span class="border border-white" id="os"></span>
        <span class="border border-white" id="semi-circulo"></span>
    </div>

       <script src="/html5_css3/bt/js/jquery-3.3.1.js"></script>
       <script src="/html5_css3/bt/js/bootstrap.js"></script>
          <script src="/html5_css3/js/barra.js"></script>

</body>
</html>
