<html>
<head>
  <title>Etiqueta div</title>
</head>

<body>
  <h1><center style="background-color:#CB4335; color:#FDFEFE">Etiqueta body</center></h1>

  <p>Esta etiqueta se utiliza para definir un bloque de contenido, esto para poder
    aplicarle diferentes estilos o tambien para realizar operaciones sobre ese bloque.
  </p>

  <h3>Ejemplo de codigo</h3>
  <textarea readonly cols="60" rows="5">
    <div style="background-color:#F8C471;
                color:#FCF3CF;
                height:100;
                width:300">
      Esto es un texto dentro de una division
    </div>
  </textarea>

  <h3>Resultado del codigo</h3>
  <div style="background-color:#F8C471;
              color:#FCF3CF;
              height:100;
              width:300">
    Esto es un texto dentro de una division
  </div>

</body>
</html>
