<html>
<head>
  <title>Etiqueta font</title>
</head>

<body>
  <h1 style="background-color:#CB4335; color:#FBFCFC"><center style="font-family:Calibri; ">Etiqueta font</center></h1>

  <p style="font-family:Calibri;">
    La etiqueta font es util para cambiar la apariencia de la letra dentro de nuestro documento
    podemos cambiar el tamano de la letra, el color, el tipo y demas cosas.
  </p>

  <table style="font-family:Calibri">
    <tr>
      <td><strong>Propiedad</strong></td>
      <td><strong>Descripcion</strong></td>
    </tr>

    <tr>
      <td><strong>family</strong></td>
      <td>Este es un atributo que cambia el tipo de letra que esta en el documento.</td>
    </tr>

    <tr>
      <td><strong>size</strong></td>
      <td>Este atributo cambia el tamano de la letra que nosotros estamos visualizando en el documento. </td>
    </tr>

    <tr>
      <td><strong>color</strong></td>
      <td>Este atribu cambiar el color de la letra de un documento.</td>
    </tr>
  </table>

  <h3 style="font-family:Calibri">Ejemplo</h3>
  <textarea cols="60" rows="5" readonly>
    <p style="font-family:Times New Roman">Este texto esta escrito con Times New Roman</p>
    <p style="font-size:12px">A este texto se le ha cambiado el tamano de letra.</p>
    <p style="color: #82E0AA">Ahora este texto tiene otro color</p>
  </textarea>

  <h3 style="font-family:Calibri">Aplicacion</h3>
  <p style="font-family:Times New Roman">Este texto esta escrito con Times New Roman</p>
  <p style="font-size:12px">A este texto se le ha cambiado el tamano de letra.</p>
  <p style="color: #82E0AA">Ahora este texto tiene otro color</p>

</body>
</html>
