<html>
<head>
  <title>
    Etiqueta head
  </title>
</head>

<body>
  <font style="font-family:Calibri">
  <h1><center style="background-color:#CB4335; color:#FDFEFE">Etiqueta form y fieldset</center></h1>

  <p>
    La etiqueta form permite crear un formulario en el cual podemos ingresar
    distintos objetos. Practicamente la etiqueta form en un contenedor
  </p>

  <p>
    Esta etiqueta representa un conjunto de controles en un formulario.
    Como la etiqueta form es un contenedor, el fieldset puede tener
    todo tipo de elementos dentro de ella.
  </p>

  <h3>Ejemplo</h3>
  <textarea cols="60" rows="5" readonly>
    <form>
      <fieldset>
        <legend>Ingrese sus datos</legend>
        <p>Nombres<input type="text"></p>
        <p>Apellidos<input type="text"></p>
        <p>Correo electronico<input type="text"></p>
      </fieldset>
    </form>
  </textarea>

  <h3>Resultado</h3>
  <fieldset>
    <legend>Ingrese sus datos</legend>
    <p>Nombres<input type="text"></p>
    <p>Apellidos<input type="text"></p>
    <p>Correo electronico<input type="text"></p>
  </fieldset>
</font>
</body>
</html>
