<html>
<head>
  <title>Etiquetas h</title>
</head>

<body>
  <font style="font-family:Calibri">
    <h1><center style="background-color:#CB4335; color:#FDFEFE">Etiquetas h</center></h1>

    <p>Las etiquetas h sirven para anadir encabezados al documento. Estas etiquetas van desde
      la etiqueta h1, hasta la h6, cada una de estas etiquetas tienen distintos tamanos la h1 es
      la que tiene el tamano mas importante.

      h1 es un texto muy grande<br>
      h2 es un texto grande<br>
      h3 es un texto un poco mas grande de lo normal<br>
      h4 es un texto de tamano normal<br>
      h5 es un texto de tamano pequeno<br>
      h6 tiene un tamano muy pequeno
  </p>

  <table>
    <tr>
      <td><strong>Propiedad</strong></td>
      <td><strong>Descripcion</strong></td>
    </tr>

    <tr>
      <td><strong>Color</strong></td>
      <td>Esta propiedad hace que el color de le letra cambie para todo el documento.</td>
    </tr>

    <tr>
      <td><strong>Background color</strong></td>
      <td>Esta propiedad cambia el color de fondo de todo el documento.</td>
    </tr>

    <tr>
      <td><strong>Etiqueta center</strong></td>
      <td>Esta etiqueta permite que el texto este centrado. Esta etiqueta necesita apertura y cierre.
      </td>
    </tr>
  </table>

  <h3>Codigo</h3>
  <textarea readonly cols="60" rows="5">
    <h1>Esto es un titulo</h1>
    <h2>Esto es un titulo</h2>
    <h3>Esto es un titulo</h3>
    <h4>Esto es un titulo</h4>
    <h5>Esto es un titulo</h5>
    <h6>Esto es un titulo</h6>
  </textarea>

  <h3>Resultado<h3>
  <h1>Esto es un titulo de encabezado</h1>
  <h2>Esto es un titulo de encabezado</h2>
  <h3>Esto es un titulo de encabezado</h3>
  <h4>Esto es un titulo de encabezado</h4>
  <h5>Esto es un titulo de encabezado</h5>
  <h6>Esto es un titulo de encabezado</h6>
</font>
</body>
</html>
