<html>
<head>
  <title>Etiqueta IFrame</title>
</head>

<body>
  <font style="font-family:Calibri">

    <h1 style="background-color:#CB4335; color:#FDFEFE"><center>Etiqueta iFrame</center></h1>
      <p>La etiqueta iFrame es un familiar de la etiqueta frame, que como ya vimos es utilizada
        para colocar un espacio dentro de nuestra pagina, con otra pagina, esto se hace a traves de
        especificar el tamano de los recuadros que va a necesitar nuestra pagina.
      </p>

      <h3>Codigo de ejemplo</h3>
      <textarea readonly cols="60" rows="6">
        <iFrame src="nose.html" width=120 height=120>Este navegador no puede mostrar este contenido.</iFrame>
      </textarea>

      <h3>Muestra del codigo</h3>
          <iFrame src="font.html" width=200 height=200>Este navegador no puede mostrar este contenido.</iFrame>
    </font>
  </body>
</html>
