<html>
<head>
  <title>Etiqueta img</title>
</head>

<body>
  <font style="font-family:Calibri">
    <h1 style="background-color:#CB4335; color:#FBFCFC"><center>Etiqueta img</center></h1>

    <p>La etiqueta img sirve para anadir una imagen dentro de nuestro documento.
       a esta imagen se le agregan las propiedades necesarias para establecerle
       un tamano asi como tambien se le coloca el recurso de donde va a obtener
       la imagen que deseamos agregar.</p>

    <h3>Codigo</h3>
    <textarea readonly cols="60" rows="6">
      <img src="img.png" width="100" height="100">
    </textarea>

    <h3>Ejemplo</h3>
      <img src="/html5_css3/images/boton.png" width="100" height="100">
  </font>
</body>
</html>
