<link rel="stylesheet" type="text/css" media="screen" href="/html5_css3/css/indice.css">

<div class="container-fluid text-center" id="section">
  <div class="row">
    <div class="col">
      <h1 id="titulo">SOLO HTML</h1>
      <p id="texto">HTML son las siglas de HyperText Markup Language.
        Es utilizado como una tendencia en casi todas las paginas que se visitan diariamente.
        No es un lenguaje de programacion como tal, sino un lenguaje de etiquetas.</p></div>
      <div class="col">
        <img id="ima" src="/html5_css3/images/ani.png" width="200" height="200">
      </div>
    </div>
  </div>

<div class="container-fluid text-center" id="section1">
  <div class="row">
      <div class="col">
        <h1 id="titulo">HABLEMOS DE CSS</h1>
          <p id="texto">Las siglas CSS significan Cascade Style Sheets,
            HTML es un lenguaje que podemos aplicar para dar estructura,
            sin embargo, CSS nos ayuda a darle un diseno unico a lo que hicimos.
            Esta parte funciona a traves de modulos que pueden ser utilizados en cualquier necesidad.</p></div>
          <div class="col">
        <img id="ima" src="/html5_css3/images/css.png" width="200" height="200">
      </div>
    </div>
  </div>

<div class="container-fluid text-center" id="section2">
  <div class="row">
    <div class="col">
      <h1 id="titulo">UTILIZA FRAMEWORKS</h1>
          <p id="texto">Ahora queremos hablar un poco acerca de
            los Frameworks. Un Framework es un entorno o un espacio de trabajo.
            que tiene estandares, practicas y criterios para manejar cierto tema.
            Estos pueden ser usados en HTML y CSS
            la aplicacion de los mismos resulta muy
            util cuando se trata de estructuras complejas.</p>
          </div>
        <div class="col">
      <img src="/html5_css3/images/moji.png" id="ima" width="200" height="200">
    </div>
  </div>
</div>

<div class="container-fluid text-center" id="section3">
<div class="row">
  <div class="col">
    <h1 id="titulo">JAVASCRIPT</h1>
      <p id="texto">Es un lenguaje de programacion que
      es utilizado para crear paginas web, mas interactivas la
      utilizacion de este lenguaje de programacion permite dar
      una mayor actividad a la pagina con el cliente. JavaScript
      no debe de ser confundido con Java porque tiene sus
      diferencias por ejemplo, este no necesita de un compilador.</p>
    </div>
      <div class="col">
    <img src="/html5_css3/images/js.png" id="ima" width="200" height="200">
  </div>
</div>
</div>
