<html>
<head>
  <title>Etiqueta B</title>
</head>

<body>
  <h1 style="background-color:#CB4335; color:#FBFCFC"><center style="font-family:Calibri; ">Etiqueta B</center></h1>
  <p style="font-family:Calibri;">
    La etiqueta B sirve para resaltar texto en el documento, lo que resalta,
    lo pone en un tipo de estilo de letra negrita.

    Esta etiqueta tiene apertura y cierre.</p>

  <h3 style="font-family:Calibri;">Ejemplo</h3>
  <textarea cols="60" rows="5" readonly>
    <p>En el mundo hay distintos tipos de osos:
      <b>los pandas, los pardos, polares, etc...</b>
    </p>
  </textarea>

  <h3><p style="font-family:Calibri;">Resultado</p></h3>
  <p style="font-family:Calibri">En el mundo hay distintos tipos de osos:
    <b>los pandas, los pardos, polares, etc...</b>
  </p>
</body>
</html>
