<html>
<head>
  <title>Etiqueta input</title>
</head>

<body>
  <font style="font-family:Calibri">
    <h1 style="background-color:#CB4335; color:#FDFEFE"><center>Etiqueta input</center></h1>
  <p>
    Esta etiqueta es utilizada para todos aquellos objetos de entrada, es decir
    todos aquellos objetos que reciben informacion. A esta etiqueta hay que
    definirle que tipo de objeto de entrada nosotros queremos que sea, ejemplo:
    un campo de texto, o un boton circular en el que el usuario puede escoger una opcion.
  </p>

  <h3>Ejemplo</h3>
  <textarea readonly cols="60" rows="6" readonly>
    <form>
      <fieldset>
        <legend>Escoja la opcion conveniente</legend>
        <p>Soltero/a<input type="radio"></p>
        <p>Casado/a<input type="radio"></p>
        <p>Viudo/a<input type="radio"></p>
        <p>Divorciado/a<input type="radio"></p>
      </fieldset>
    </form>
  </textarea>

  <h3>Aplicacion</h3>
  <fieldset>
    <legend>Escoja la opcion conveniente</legend>
    <p>Soltero/a<input type="radio"></p>
    <p>Casado/a<input type="radio"></p>
    <p>Viudo/a<input type="radio"></p>
    <p>Divorciado/a<input type="radio"></p>
  </fieldset>

</font>
</body>
</html>
