<link rel="stylesheet" type="text/css" media="screen" href="/html5_css3/css/javas.css">
  <div id="imagen">
    <div class="login-wrap">
      <h2><center>Bienvenido</center></h2>
      <div class="form">
        <input type="text" class="form-control" id="usuario" placeholder="Usuario">
        <input type="password" class="form-control" id="contra" placeholder="Contraseña">
         <button onclick="login()" class="btn btn-danger">Ingresa</button>
        <center><a onclick="menu('/html5_css3/view/record.html')"><p>Si no tienes una cuenta, registrate</p></a></center>
        </div>
      </div>

    <script src="/html5_css3/js/jscode.js"></script>
    <script src="/html5_css3/sweet/sweetalert.min.js"></script>
    <script src="/html5_css3/md5/md5.min.js" type="text/javascript"></script>
  </div>
