<link rel="stylesheet" type="text/css" media="screen" href="/html5_css3/css/model.css"/>

<div id="main">
  <div id="d1">
    <div class="menu">
      <strong><a>Módulos</a></strong>
      <a onclick="part('/html5_css3/view/categoria.html')"><img src="/html5_css3/images/shop.png" width="25" height="25"/> Categorias</a>
      <a onclick="part('/html5_css3/view/marcas.html')"><img src="/html5_css3/images/cart.png"width="25" height="25"/> Marcas</a>
      <a onclick="part('/html5_css3/view/productos.html')"><img src="/html5_css3/images/tag.png" width="25" height="25"/> Productos</a>
      <a onclick="part('/html5_css3/view/cliente.html')"><img src="/html5_css3/images/support.png" width="25" height="25"/> Clientes</a>
      <a onclick="part('/html5_css3/view/detalle.html')"><img src="/html5_css3/images/payment.png" width="25" height="25"/> Compras</a>
      <a onclick="part('/html5_css3/view/about.html')"><img src="/html5_css3/images/user.png" width="25" height="25"/> About</a>
    </div>
  </div>

  <div id="d2">
    <input id="boton" type="image" src="/html5_css3/images/menu.png" width="30" height="30"/>
  </div>

  <div id="d3">
  </div>
</div>

  <script type="text/javascript">
    function part(seccion){
      $('#d3').load(seccion);
    }
  </script>
