<html>
<head>
  <title>Etiqueta select y optgroup</title>
</head>

<body>
  <font style="font-family:Calibri">
    <h1 style="background-color:#CB4335; color:#FBFCFC"><center>Etiqueta select y optgroup</center></h1>

    <h3>Etiqueta select</h3>
    <p>La etiqueta p hace referencia a un objeto contenedor. Este objeto despliega una lista al darle
        un clic sobre el mismo. En otros editores graficos es conocido como Combo Box.</p>

    <h3>Etiqueta optgroup</h3>
    <p>Esta etiqueta tambien va dentro de la etiqueta select y lo que hace es que agrupa una lista
        dentro de la lista que ya tenemos. Es decir permite crear sub grupos dentro de la lista.</p>

    <h3>Codigo</h3>
    <textarea readonly cols="60" rows="6" readonly>
      <select>
        <optgroup label="Ferrari">
          <option>Ferrari Spider</option>
          <option>Ferrari F30</option>
          <option>Ferrari Venezia</option>
        </optgroup>

        <optgroup label="Lamborghini">
          <option>Lambo Murcielago</option>
          <option>Lambo Torino</option>
        </optgroup>
      </select>
    </textarea>

    <h3>Ejemplo</h3>
    <select>
      <optgroup label="Ferrari">
        <option>Ferrari Spider</option>
        <option>Ferrari F30</option>
        <option>Ferrari Venezia</option>
      </optgroup>

      <optgroup label="Lamborghini">
        <option>Lambo Murcielago</option>
        <option>Lambo Torino</option>
      </optgroup>
    </select>
  </font>
</body>
</html>
