<html>
<head>
  <title>Etiqueta style</title>
</head>

<body>
  <font style="font-family:Calibri">
    <h1 style="background-color:#CB4335; color:#FBFCFC"><center>Etiqueta style</center></h1>

    <p>Esta etiqueta permite anadirle estilos a un documento en html. Generalmente puede
      ser utilizada para agregar elementos de CSS en una hoja de HTML</p>

    <h3>Codigo</h3>
    <textarea readonly cols="60" rows="6">
      <style type="text/css">
        .texto{
          font-size: 22px;
        }
      </style>
    </textarea>

    <h3>Ejemplo</h3>
    <style type="text/css">
      .texto{
        font-size: 22px;
      }
    </style>

    <p class="texto">A este texto se le ha cambiado el tamano de letra a traves de una propiedad de CSS3</p>
  </font>
</body>
</html>
