<html>
<head>
  <title>Etiqueta sub</title>
</head>

<body>
  <font style="font-family:Calibri">
    <h1 style="background-color:#CB4335; color:#FBFCFC"><center>Etiqueta sub</center></h1>

    <p>La etiqueta sub sirve para anadir un sub indice a cualquier texto en el que estemos trabajando.</p>

    <h3>Ejemplo en codigo</h3>
    <textarea readonly cols="60" rows="6">
      <p>Esto es un texto con<sub>la etiqueta sub anadida</sub>dentro de el.</p>
    </textarea>

    <h3>Ejemplo</h3>
      <p>Esto es un texto con <sub>la etiqueta sub anadida</sub> dentro de el.</p>
  </font>
</body>
</html>
