    <link rel="stylesheet" type="text/css" media="screen" href="/html5_css3/css/html5.css"/>
    <script src="/html5_css3/js/side.js"></script>

      <div id="foto">
        <div class="jumbotron text-center transparente">
          <h1 class="principio"><center>Empezando con HTML5</center></h1>
            <p style="font-size:22; color: #fff;" class="letra">
                      HTML5 es la nueva version del lenguaje de etiquetas, esta version es mas
                      optima que las anteriores. En general nos ayuda para poder interactuar
                      con navegadores web haciendo paginas con las que puedan interactuar todo
                      tipo de personas.
            </p>

          <center><input class="btn btn-warning" type="button" onclick="openNav()" id="boton" value="Menu"></center>
        </div>

            <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <a href="javascript:ventana('/html5_css3/view/a.html')">Etiqueta A</a>
              <a href="javascript:ventana('/html5_css3/view/info.html')">Etiqueta B</a>
              <a href="javascript:ventana('/html5_css3/view/font.html')">Etiqueta Font</a>
              <a href="javascript:ventana('/html5_css3/view/basefont.html')">Etiqueta Basefont</a>
              <a href="javascript:ventana('/html5_css3/view/blockquote.html')">Etiqueta blockquote</a>
              <a href="javascript:ventana('/html5_css3/view/button.html')">Etiqueta Button</a>
              <a href="javascript:ventana('/html5_css3/view/caption.html')">Etiqueta caption</a>
              <a href="javascript:ventana('/html5_css3/view/body.html')">Etiqueta body</a>
              <a href="javascript:ventana('/html5_css3/view/ht.html')">Etiquetas h</a>
              <a href="javascript:ventana('/html5_css3/view/div.html')">Etiqueta div</a>
              <a href="javascript:ventana('/html5_css3/view/form.html')">Etiqueta form y fieldset</a>
              <a href="javascript:ventana('/html5_css3/view/input.html')">Etiqueta input</a>
              <a href="javascript:ventana('/html5_css3/view/frame.html')">Etiqueta frame y frameset</a>
              <a href="javascript:ventana('/html5_css3/view/iframe.html')">Etiqueta iFrame</a>
              <a href="javascript:ventana('/html5_css3/view/img.html')">Etiqueta img</a>
              <a href="javascript:ventana('/html5_css3/view/map.html')">Etiqueta map</a>
              <a href="javascript:ventana('/html5_css3/view/op.html')">Etiqueta select y optgroup</a>
              <a href="javascript:ventana('/html5_css3/view/style.html')">Etiqueta style</a>
              <a href="javascript:ventana('/html5_css3/view/sub.html')">Etiqueta sub</a>
            </div>

    </div>
